{% extends "base.html" %}

{% block content %}

<h2>Admin Dashboard</h2>

<a href="/admin_logout">Logout</a>

<hr>

<h3>Add Product</h3>

<form method="POST" enctype="multipart/form-data">

<input name="brand" placeholder="Brand" required>
<br><br>

<input name="model" placeholder="Model" required>
<br><br>

<input name="price" placeholder="Price" required>
<br><br>

<input type="file" name="image" required>
<br><br>

<button>Add Product</button>

</form>

<hr>

<h3>Products</h3>

<table border="1">

<tr>
<th>ID</th>
<th>Brand</th>
<th>Model</th>
<th>Price</th>
<th>Action</th>
</tr>

{% for p in products %}

<tr>

<td>{{p[0]}}</td>
<td>{{p[1]}}</td>
<td>{{p[2]}}</td>
<td>{{p[3]}}</td>

<td>
<a href="/delete_product/{{p[0]}}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}