<!DOCTYPE html>

<html>

<head>

<title>MobStore</title>

<link rel="stylesheet" href="/static/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>

<div class="wrapper">

<!-- NAVBAR -->

<header class="navbar">

<div class="logo">
MobStore
</div>

<nav class="navlinks">

<a href="/">Home</a> <a href="/store">Store</a> <a href="/cart">Cart</a> <a href="/service">Service</a> <a href="/login">Login</a> <a href="/register">Register</a>

</nav>

</header>

<!-- MAIN CONTENT -->

<main class="page">

{% block content %}

{% endblock %}

</main>

<!-- FOOTER -->

<footer class="footer">

Python Internship Project - MobStore

</footer>

</div>

<script src="/static/script.js"></script>

</body>
</html>
